<section class="content-blog">
    {{#if data}}
    {{#each data}}
    <div class="blog-wrapper">
        <span class="example"><a href="/blog/details/{{this._id}}"></a></span>
        <article class="blog-head">
            <img src="{{imageUrl}}" alt="" class="blog-image">
            <span class="favourite-btn" title="Add to favourite"><a href="/blog/favourites/{{this._id}}"><i class="fas fa-heart"></i></a></span>
        </article>
        <article class="blog-body">
            <div class="blog-body-content">
                <p>{{description}}</p>
            </div>
            <div class="blog-menu-items">
                <div class="left-content">
                    <a href="/blog/details/{{this._id}}">Read More <i class="fas fa-arrow-circle-right"></i></a>
                </div>
                <div class="right-content">
                    <span>{{comments}} comments</span>
                    <span>Author: {{this.author.username}}</span>

                </div>
            </div>
        </article>
    </div>
    {{/each}}
    {{/if}}
</section>
<section class="side-bar">
    <article class="category-side-bar">
        <h2>Category:</h2>
        <ul>
            <li><a href="/category/school">School</a></li>
            <li><a href="/category/technology">Technology</a></li>
            <li><a href="/category/nature">Nature</a></li>
            <li><a href="/category/cars">Cars</a></li>
            <li><a href="/category/space">Space</a></li>
            <li><a href="/category/life-style">Life Style</a></li>
            <li><a href="/category/wealth">Wealth</a></li>
        </ul>
    </article>
    <footer>
        <article class="side-bar-social-links">
            <ul>
                <li><a href="javascript:void(0)"><i class="fab fa-facebook"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fab fa-twitter-square"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>

            </ul>
            <p>&copy;2021 The Blogger. All rights reserved.</p>
        </article>
    </footer>
</section>